MONGO_URI=mongodb+srv://madudamian25_db_user:Godofjustice%40001@cluster0.c2havli.mongodb.net/healthify_tracker?retryWrites=true&w=majority&appName=Cluster0


PORT=5001
NODE_ENV=development

JWT_SECRET=someSuperSecretKey

# Stripe (leave blank for now)
STRIPE_SECRET_KEY=
WEBHOOK_SECRET=

# Telehealth (Daily or Twilio — leave blank if not ready)
DAILY_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=